body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

form {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #006bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #006bff;
}
h2{
    display: flex;
  
    justify-content: center;
}
#error-message {
  color: red;
  background-color: #fff;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  display: block;
}
#btn_forgot_password {
    background-color: #9f0707; /* Darkish blood-red */
    border: none;
    color: white; /* White font color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
#btn_forgot_password:hover {
    background-color: #5a0000; /* Darker shade of blood-red */
}

/* Change button background color on click */
#btn_forgot_password:active {
    background-color: #800000; /* Restore to blood-red */
    transform: translateY(2px); /* Add a slight vertical shift when clicked */
}
#btn_SignUp {
    background-color: #006bff; /* Darkish, attractive blue */
    border: none;
    color: white; /* White font color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

/* Change button background color on hover */
#btn_SignUp:hover {
    background-color: #0a3d89; /* Darker shade of blue */
}

/* Change button background color on click */
#btn_SignUp:active {
    background-color: #0047ab; /* Restore to the original blue */
    transform: translateY(2px); /* Add a slight vertical shift when clicked */
}
