/* signup.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

form {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #006bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #006bff;
}
#btn_Login {
    width: 90%;
    padding: 10px;
    background-color: #006bff; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    
    transition: background-color 0.3s ease;
}

/* Change button background color on hover */
#btn_Login:hover {
    background-color: #327fea; /* Darker shade of green */
}

/* Change button background color on click */
#btn_Login:active {
    background-color: #1671f1; /* Restore to the original green */
    transform: translateY(2px); /* Add a slight vertical shift when clicked */
}


h2 {
    display: flex;
    justify-content: center;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #006bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
